.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .card {
    background-color: #1f1f1f;
    border-color: #333;
}

.dark-mode input,
.dark-mode textarea,
.dark-mode .form-control {
    background-color: #2c2c2c;
    color: #fff;
    border: 1px solid #444;
}

.dark-mode .form-check-label {
    color: #ccc;
}

.dark-mode .btn {
    background-color: #2c2c2c;
    color: #fff;
}

.dark-mode .table {
    color: #ffffff;
}
